.link_container {
  width: auto;
  height: auto;
  color: white;
  margin-top: 20px;
  background: rgba(46, 46, 46, 0.5);
  // background: #2E2E2E;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  right: 0;
  bottom: 0;
  left: 0;
}


.share-link {
  padding-left: 10px;
}

.fa {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 15px;
  &:hover{
    color:rgb(204, 204, 204);
    text-decoration:none;
    cursor:pointer;
  };
}

.contact {
  padding-right: 25px;
  margin-top: 25px;
}

.contact-link {
  text-decoration: none;
  color: white;
  &:hover {
    color:rgb(204, 204, 204);
    text-decoration:none;
    cursor:pointer;
  };
}

