
      <!-- Slider Start -->
        <section id="global-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <h1>Book a job with me</h1>
                  <p>Don’t just hesitate, go for it!. Check out some of my latest work.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Subject">
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <form>
                    <div class="form-group-2">
                      <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Book me</button>
                  </form>
                </div>
              </div>
            </div>
            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>A little bit more about me</h2>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-map-marker"></i>North Main Street,Brooklyn Australia
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: contact@mail.com
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone:+88 01672 506 744
                    </li>
                  </ul>

                  <ul class="social-icons">
                    <li><i class="fa fa-google"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                    <li><i class="fa fa-pinterest"></i></li>
                    <li><i class="fa fa-dribbble"></i></li>
                    <li><i class="fa fa-behance"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Find me on Google Map</h2>
                    <div class="google-map">
                      <div id="map"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Call to action Start -->
        <section id="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <h2>We simply kill people.</h2>
                  <p>Read more about what we do and our philosophy of getting the job done. Judge for yourself! The work and results we’ve achieved for our clients, and meet our highly experienced Team who just love to kill.</p>
                  <a class="btn btn-default btn-call-to-action" href="#" >Send us a review</a>
                </div>
              </div>
            </div>
          </div>
        </section>


    <div id="map" style="width: 100%; height: 500px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {

          <!-- var styles = [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}] -->

          var handler = Gmaps.build('Google');
          handler.buildMap({
            internal: { id: 'map' }
            }, function() {
            markers = handler.addMarkers([<%= raw @asset_coordinates.to_json %>]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

  </div>
</div>
=======
        </section>
        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Subject">
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <form>
                    <div class="form-group-2">
                      <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Book me</button>
                  </form>
                </div>
              </div>
            </div>
            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>A little bit more about me</h2>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-map-marker"></i>North Main Street,Brooklyn Australia
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: contact@mail.com
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone:+88 01672 506 744
                    </li>
                  </ul>
>>>>>>> master

                  <ul class="social-icons">
                    <li><i class="fa fa-google"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                    <li><i class="fa fa-pinterest"></i></li>
                    <li><i class="fa fa-dribbble"></i></li>
                    <li><i class="fa fa-behance"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Find me on Google Map</h2>
                    <div class="google-map">
                      <div id="map"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Call to action Start -->
        <section id="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <h2>We simply kill people.</h2>
                  <p>Read more about what we do and our philosophy of getting the job done. Judge for yourself! The work and results we’ve achieved for our clients, and meet our highly experienced Team who just love to kill.</p>
                  <a class="btn btn-default btn-call-to-action" href="#" >Send us a review</a>
                </div>
              </div>
            </div>
          </div>
        </section>
