/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.card {
  padding: 50px;
}
.card-header {
	
  height: 170px;
  width: 170px;
  background-size: cover;
}
.card-body {
  padding: 30px;
}
