/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.card-header {
	
  height: 170px;
  width: 170px;
  background-size: cover;
}
.card-body {
  padding-bottom: 10px;
  width: 250px;
  text-align: left;
}
